body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="number"] {
  width: 30px;
}

.matrix-input {
  -moz-appearance: textfield;
  appearance: textfield;
}

.matrix-input::-webkit-inner-spin-button,
.matrix-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px;
  text-align: center;
}

#error {
  display: none;
  background-color: #ffebee;
  color: #c62828;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid #c62828;
  align-items: center;
}

.error-icon {
  margin-right: 10px;
  font-size: 1.2em;
  background-color: #ffcbce;
  border-radius: 10px;
  border: 1px solid #f6282821;
  padding: 10px;
}

#errorMessage {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#errorMessage strong {
  font-size: 1.1em;
  margin-bottom: 5px;
}

#errorMessage span {
  font-size: 0.9em;
}